@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');

* {
    box-sizing: border-box;
    color: rgb(31, 31, 31);
    cursor: none;
    margin: 0em;
    padding: 0em;
}

body {
    font-family: "Space Mono", monospace;
    background-image: url('images/Background.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    height: 100vh;
}

h4 {
    font-family: 'Playfiar Display', serif;
    align-self: center;
}

header {
    margin-left: 7em;
    padding-right: 7em;
}

header h1 {
    font-family: "Playfair Display", serif;
    font-size: 65px;
    letter-spacing: 4px;
    margin-top: 1.25em;
    margin-bottom: 0.15em;
}

.custom-cursor {
    position: fixed;
    top: 0;
    left: 0;
    width: 10px;
    height: 10px;
    background-color: rgba(92, 92, 92, 0.15);
    border: 2px solid rgba(255, 255, 255, 0.661);
    border-radius: 50%;
    pointer-events: none;
    z-index: 10000;
}

.experience-container {
    margin-top: 5em;
    padding: 0em 6em 0em 2em;
}

.experience-info {
    padding: 0.5em 0em 2em 0em;
}

.experience-title {
    display: flex;
}

.intro-container {
    padding: 0em 6em 0em 2em;
    /* border: solid red 2px; */
}

.job-title {
    margin: 0em 0em 0.55em 0em;
}

.left-half,
.right-half {
    flex: 1;
    display: flex;
}

.right-half {
    flex-direction: column;
    margin-top: 6em;
}

.social-item {
    margin: 0 1em;
}

.social-items {
    margin-top: 30.5em;
}

.title-name {
    font-family: 'Playfair Display', serif;
    margin-left: 1em;
}

::selection {
    color: #f2f2f2;
    background: rgb(31, 31, 31);
}

a:link {
    color: none;
    text-decoration: none;
}

a:visited {
    color: none;
}

a:hover {
    color: #f2f2f2;
    text-decoration: none;
}

a:active {
    color: f2f2f2;
}

/* smartphones, portrait iPhone, portrait 480x320 phones (Android) */
@media screen and (min-width: 320px) {
    header {
        margin: 0;
    }

    header h1 {
        font-size: 50px;
        margin: 0.5em 0em 0em 0.5em;
        padding: 0;
    }

    .job-title {
        margin: 0.5em 0em 0em 1em;
        padding-right: 50px;
        /* outline: solid red 2px; */
    }

    .left-half,
    .right-half {
        display: block;
    }
}

/* smartphones, Android phones, landscape iPhone */
@media screen and (min-width: 480px) {
    body {
        display: none;
    }
}

/* portrait tablets, portrait iPad, e-readers (Nook/Kindle), landscape 800x480 phones (Android) */
@media screen and (min-width: 600px) {
    body {
        /* display: none; */
    }
}

/* tablet, landscape iPad, lo-res laptops ands desktops */
@media screen and (min-width: 801px) {
    body {
        /* display: none; */
    }
}

/* big landscape tablets, laptops, and desktops */
@media screen and (min-width: 1025px) {
    body {
        display: none;
    }
}

/* hi-res laptops and desktops */
@media screen and (min-width: 1281px) {
    body {
        /* display: none; */
    }
}